* {
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(185, 75%, 39%);
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-position: -25vw -70vh, 60vw 55vh;
  background-repeat: no-repeat;
}
